
<nav class="dropdownmenu">
    <ul>
        <li><a href="/Home/Index">Home</a></li>
        <li>
            <a href="/Teacher/GetTeachers">Teachers</a>
            <ul id="submenu">
                <li><a href="/Teacher/AddTeacher">Add Teacher</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Students</a>
            <ul id="submenu">
                <li><a href="http://www.jochaho.com/wordpress/difference-between-svg-vs-canvas/">Difference between SVG vs. Canvas</a></li>
                <li><a href="http://www.jochaho.com/wordpress/new-features-in-html5/">New features in HTML5</a></li>
                <li><a href="http://www.jochaho.com/wordpress/creating-links-to-sections-within-a-webpage/">Creating links to sections within a webpage</a></li>
            </ul>
        </li>
        <li><a href="http://www.jochaho.com/wordpress/category/news/">Rooms</a></li>
        <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">Courses</a></li>
    </ul>
</nav>