@using (Html.BeginForm("AddTeacher", "Teacher", FormMethod.Post))
{
    <label>Teacher name</label>
    <input type="text" name="teacherName" />
    <label>Teacher number</label>
    <input type="text" name="teacherNo" />

    <input type="submit" value="Add teacher" class="button"/>
}