@model training.Models.Teacher

<label>Teacher name</label>
<input type="text" value="@Model.teacherName" name="Teacher name" disabled/>
<label>Teacher number</label>
<input type="text" value="@Model.teacherNo" name="Teacher number" disabled/>